<h2>Foundry Virtual Tabletop - Version 0.6.5 Update Notes</h2>

<figure>
    <img src="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1/screen/update-065-banner-2020-07-05.jpg" title="Foundry VTT Version 0.6.5 Release Notes"/>
    <figcaption>Welcome to Foundry Virtual Tabletop Update 0.6.5</figcaption>
</figure>

<h4>Overview of Changes</h4>
<p>This is Foundry Virtual Tabletop Release version 0.6.5, an update on the <strong>Release</strong> channel which is available to all Foundry Virtual Tabletop license holders. The Release channel contains updates which should be stable and ready for widespread consumption by all Foundry users.</p>
<p>This update incorporates a number of bug fixes and improvements in response to feedback collected during the 0.6.4 update cycle. More major changes are on their way in the upcoming 0.7.x series which should have it's first alpha release soon.</p>
<hr/>

<h4>How to Update</h4>
<p>If you wish to apply this update, return Foundry Virtual Tabletop to the <strong>Configuration and Setup</strong> page and access the <strong>Update Software</strong> tab and choose the "Release" channel in the dropdown menu. Please note, it is recommended for most users to stay on the Release channel and wait for updates there rather than using Alpha or Beta updates.</p>

<p>After clicking <strong>Check for Update</strong> confirm that you are presented with the 0.6.5 update notes and click the Download button to begin the update process. Allow some time for this process to conclude, when it is finished your server will automatically restart (if Electron) or shut down (if Node.js).</p>
<hr/>

<h4>Reporting Issues and Providing Feedback</h4>
<p>If you encounter issues or have feedback to share, please use one of the following three reporting channels, ordered by preference:</p>
<ol>
	<li><strong>Discord Server:</strong> My preferred method to collect feedback is through our Discord server where I have created a dedicated channel for update 0.6.5 feedback. If you are able to join our Discord community it's the best way to engage with me directly for feedback.</li>
	<li><strong>GitLab Tracker:</strong> You are welcome to create issue reports directly in the GitLab tracker here, but please take caution to ensure your problem has not already been reported by checking other open (and closed) issues in the upcoming milestone before creating a new report.</li>
	<li><strong>Bug Report Form:</strong> There is an official bug report form on the official website. Please use the <a href="https://foundryvtt.com/contact-us/" target="_blank" rel="nofollow">Contact Us</a> form and select "Bug Report" as your category.</li>
</ol>

<p>Please stay up to date on progress by following the <a href="https://gitlab.com/foundrynet/foundryvtt/-/issues" rel="nofollow" target="_blank" title="FVTT Issue Tracker">project roadmap on Gitlab</a>.</p>
<hr/>

<h3>New Features</h3>
<ul>
    <li>When setting or changing a Scene background image, Foundry will now only automatically replace the width and height with the native image dimensions if those fields are manually cleared from the form. Otherwise it will keep the previous Scene dimensions in-place.</li>
    <li>A new user permission setting has been added for "Show Rulers", which allows control to selectively enable or disable the display of ruler measurements to other connected players based on their User role.</li>
    <li>When more than one Application window is open, such as Actor sheets, clicking anywhere within the window now brings it to the front. Previously a window would only float to the top if the click occurred in the application header bar.</li>
    <li>If the game is paused, users will now be presented with a warning message when attempting a disallowed action like moving a Token or attempting to open a Door.</li>
    <li>Provided support for <code>/me</code> as an alternative command syntax to <code>/emote</code> or <code>/em</code>.</li>
    <li>Added a "Show" checkbox toggle next to the Access Key for each User in the Player Configuration menu which allows a GM user to double-check the currently set access key value without needing to change it.</li>
    <li>Using the FilePicker to upload new media content to S3 will now correctly set the Content-Type as metadata attached to the uploaded file.</li>
    <li>Changed the strictness of validation within the Dice rolling syntax to allow for the possibility of rolling zero of a certain denomination of die (for example <code>/r 0d6</code>). This can help with appropriately scaling certain abilities with a mathematical formula where sometimes bonus dice are not rolled.</li>
</ul>
<hr/>

<h3>Bug Fixes</h3>
<ul>
    <li>Fixed an issue with Wall creation and chaining (holding CTRL) which was incorrectly interpreting the prior chained endpoint for the wall.</li>
    <li>Addressed an issue where hyperlinks in TinyMCE editors would show up with incorrect formatting or fail to properly link. Please note - there is still a known issue here where, if the hyperlink occurs at the very beginning of a new paragraph in a Journal Entry, the link will not be properly replaced. More nuanced logic for how this replacement occurs has already been implemented and will be deployed as part of 0.7.0.</li>
    <li>Fixed an issue with the grid configuration tool where scenes with a grid size larger than 200px were incorrectly constrained, causing the grid alignment of the Scene to become broken when the configuration tool was activated.</li>
    <li>Form Data processing failed to correctly extract editable image paths in cases where a Route Prefix was configured in the server options.</li>
    <li>TinyMCE stylesheet not working as expected when a routePrefix was applied in the server configuration.</li>
    <li>Setting a Prototype Token to have a wildcard with a non-existent directory no longer prevents the Token configuration menu from opening. Tokens with invalid wildcard image paths can still be placed on the canvas, but their appearance will default to the "mystery man".</li>
    <li>Removed an incorrect rounding call within the <code>toRadians</code> helper method which introduced some small inaccuracy when converting from degrees to radians.</li>
    <li>The FilePicker now automatically focuses on the address bar when its tab is changed so that using the Tab key to cycle among focusable form inputs no longer targets fields in inactive tabs.</li>
    <li>Provide some explicit error handling when a dice Roll does not produce a numeric outcome to indicate that the input data or formula produced an invalid result.</li>
    <li>Decode HTML entities in Roll Table results so that any special characters like inequality operators contained inside inline-rolls are displayed properly and respected in the resulting dice roll formulae.</li>
    <li>Deleting a controlled Token which has vision settings but is not linked to a valid Actor causes the Sight Layer to not automatically update.</li>
</ul>
<hr/>

<h3>Framework and API Changes</h3>
<ul>
    <li>Updated the <code>_onEditImage</code> event listener and handler for the ActorSheet and ItemSheet classes. These are now more generic, to allow for more or different edit targets to be supported by the same handler logic.</li>
    <li>Instead of trying to process an invalid chat slash command, Foundry will now display an error message.</li>
    <li><code>Actor.registeredSheets</code> no longer returns references for Items, but Actors as intended.</li>
    <li>Added a <code>Token#observer</code> attribute which provides a boolean flag for whether the current game User has at least "Observer" permission to the Token.</li>
    <li>Added a <code>TextEditor.decodeHTML(html)</code> helper method to efficiently translate an encoded HTML string back into unicode.</li>
    <li>Utilize web fonts API to ensure that all fonts are properly loaded (with a 3 second timeout) before trying to render the game canvas.</li>
</ul>
<hr/>

<h3>Documentation Improvements</h3>
<ul>
    <li>API documentation updated to be consistent with the 0.6.5 software.</li>
</ul>
<hr/>

<h3>Known Issues</h3>
<p>A number of more complex or potentially breaking bug fixes were shifted to the 0.7.x Milestone in order to provide adequate testing before they are packaged for release. For more information please review the milestones below:</p>

<ul>
    <li><a href="https://gitlab.com/foundrynet/foundryvtt/-/issues?scope=all&utf8=%E2%9C%93&state=opened&milestone_title=Alpha%200.7.0&label_name[]=Bug" rel="nofollow" target="_blank" title="0.7.0 Known Issues">Known Issues to be addressed in 0.7.0</a></li>
    <li><a href="https://gitlab.com/foundrynet/foundryvtt/-/issues?scope=all&utf8=%E2%9C%93&state=opened&milestone_title=Release%200.7.x%20Pooling&label_name[]=Bug" rel="nofollow" target="_blank" title="0.7.x Known Issues">Known Issues to be addressed in 0.7.x</a></li>
</ul>