<p>One of Foundry Virtual Tabletop's greatest assets is its supportive community. Some dedicated and enthusiastic members of that community want to help spread our brand and show off their work. In order to help the community use our branding in their own content, we thought we should offer some best practices for doing so.</p>

<p class="info note">This article represents suggestions and requests we have for community members creating content related to Foundry Virtual Tabletop - please don't hesitate to reach out via email or using our Contact Form if you have any questions.</p>
    
<h3>Using the "Foundry Virtual Tabletop" Name</h3>
<p>When creating projects related to Foundry Virtual Tabletop, it can be a bit of a mouthful to use the entire name of the program every time it is mentioned. In order to make it clear whether you are talking about Foundry Gaming LLC. (the company) or Foundry Virtual Tabletop (the software), it is best to avoid shortening the name to Foundry. When shortening the name of the software, "Foundry VTT"; or "FVTT" should be used if possible.</p>

<blockquote class="question">Can I use "Foundry Virtual Tabletop" in the title of my project?</blockquote>

<p>No, it has too much potential to lead to confusion and cause people to think that your project is something officially released by Foundry Gaming LLC. Wherever possible you want to avoid people thinking we made your project. Please feel free to reference the name "Foundry Virtual Tabletop" within descriptive text or content of your project, but please avoid using it in the official title.</p>
<hr/>

<h2>Community Content Kit</h2>
<p>We have created a few brand-related assets to help the community visually reference Foundry Virtual Tabletop and showcase created content. The Community Content Kit contains transparent logos using some of our branding specifically designed to give our community a way to show that their content is intended for Foundry Virtual Tabletop, all while keeping it unofficial.</p>

<figure>
    <img class="noborder" src="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1/asset/fvtt-community-content-anvil-2020-09-16.png">
    <figcaption>This logo and others are included in the community content kit!</figcaption>
</figure>

<p>While we want to allow members of the community to use our branding, we'd like to ask that the content using these images follow a few simple rules:</p>

<ol>
    <li>Please do not use the Community Content Kit in a way that suggests Foundry endorses or is in any way responsible for anything you created. We want to be sure that no one thinks the awesome content you made is something that <strong>we</strong> created or paid you to create. Your content is your own. </li>
    <li>Please do not use the logos from the Community Content Kit to suggest that we have verified or examined your content.</li>
    <li>Please do not modify the files contained in the Community Content Kit. If you have suggestions for changes or additional styles we could release, please <a href="https://foundryvtt.com/contact-us/" target="_blank" rel="nofollow">contact us</a> instead. However, this does not prevent you from embedding these images in larger compositions such as website or stream banners, book covers, or screenshots.</li>
</ol>

<blockquote class="question">You can <a href="https://foundryvtt.s3-us-west-2.amazonaws.com/website-media-dev/FVTT-community-content-kit.zip" target="_blank" rel="nofollow noopener">get the Community Content kit</a> here!</blockquote>
<hr />