<p>Packaged inside Foundry VTT are a number of JavaScript libraries and frameworks which can be leveraged in module and system-development without having to be separately included.</p>
<hr>
<h2 id="greensock">GreenSock</h2>
    <p>GreenSock is a javascript library designed for animating SVG, WebGL, and HTML objects in conjunction with Pixi. Foundry exposes GreenSock in its API, allowing module and system developers to leverage the platform inside FVTT. </p>
    <p><a href="https://greensock.com/">You can find out more about Greensock here.</a></p>
    
<h2 id="handlebars">Handlebars</h2>
<p>Handlebars is a simple templating language used by Foundry VTT to structure HTML based on JS object data stored by systems, modules, and FVTT itself. You can find out more about <a href="https://handlebarsjs.com/guide/">Handlebars by clicking here.</a></p>
<p>Foundry VTT includes the following Handlebars helpers in its core software:</p>
<dl>
    <dt>{{select}}</dt>
    <dd> Assists in configuring an <code>&lt;option&gt;</code> within a <code>&lt;select&gt;</code> field.
    </dd>
    <dt>{{checked}}</dt>
    <dd> Assists in configuring a checkbox form input. 
    </dd>
    <dt>{{formatNumber}}</dt>
    <dd> Applies formatting to numbers.
    </dd>
    <dt>{{timeSince}}</dt>
    <dd> Gets the time that has passed since another time value.
    </dd>
    <dt>{{filepicker}}</dt>
    <dd> Creates an instance of a filepicker. 
    </dd>
    <dt>{{editor}}</dt>
    <dd> Creates an instance of a tinyMCE editor.
    </dd>
    <dt>{{localize}}</dt>
    <dd> Adds a localized text string that can be called in order to provide better support for i18n translations.
    </dd>
    <dt>{{eq}}, {{ne}}, {{lt}}, {{gt}}, {{lte}}, {{gte}}</dt>
    <dd>Logical operation helpers that check if something is equal to, not equal to, less than, greater than, less than or equal to, greater than or equal to. </dd>    
</dl>
<p> There are many other Handlebars helpers that are worth exploring.</p>

<h2 id="greensock">Howler.js</h2>
    <p>Howler.js is a modern audio library designed to provide cross-platform audio support, and forms the backbone of FoundryVTT's audio systems, including Playlists and Ambient Audio. </p>
    <p><a href="https://howlerjs.com/">You can find out more about Howler.js here</a></p>
    
<h2 id="jquery">jQuery</h2>
    <p>jQuery is a fast, small, and feature-rich JavaScript library. Foundry VTT comes packaged with jQuery included and uses it to assist primarily in reading and manipulating HTML documents. </p>
    <p><a href="https://jquery.com/">You can find out more about jQuery here.</a></p>

<h2 id="pixi">PixiJS</h2>
    <p>PixiJS is a powerful HTML5 WebGL library which powers FoundryVTT's canvas, it is extremely robust and provides FVTT with its lighting renderer and many other Scene features. Numerous modules leverage PixiJS to extend Foundry VTT in profound ways, adding lighting, filters, and even animated effects.</p>
    <p><a href="https://www.pixijs.com/">You can find out more about PixiJS here.</a></p>
    
<hr/>
