<h3>Updated November 3, 2020</h3>
<p>
    Foundry Virtual Tabletop is committed to protecting your privacy while using our website and application.
    This document describes what data we collect and persist, and under what circumstances it
    is used. This document will be updated from time to time - the date of the most recent revision will be
    reflected at the top of the document.
</p>

<h3 id="website">What personal data does the Foundry Virtual Tabletop website collect?</h3>
<p>If you browse the foundryvtt.com website, we record your IP address in order to mitigate risks from potentially abusive browsing behavior.</p>

<p>If you register a user account on the foundryvtt.com website, we store your username, email address, password, as well as any other optional detail which you provide like your linked patreon.com account.</p>

<h3 id="application">What personal data does the Foundry Virtual Tabletop application collect?</h3>
<p>The Foundry Virtual Tabletop software itself does not collect or store any personal information. The software stores your signed software license key and transmits this key to the foundryvtt.com website when needed to perform license verification checks. When those checks are made, we record and store the IP address from which you updated the Foundry Virtual Tabletop software.</p>

<h3 id="security">How is the data you collect kept secure?</h3>

<p>We do NOT collect or store any data related to billing or payments. Your name, billing address, and credit card details are all financial data processed by Stripe which is a highly reputable e-commerce platform which uses industry standard security practices to encrypt your payment and billing data. Additionally, we do not collect any data about how or when you use the Foundry Virtual Tabletop software.</p>

<p>The data we collect is kept securely in an encrypted database and is not shared with any third party for any reason. You may view your personal data on your Profile page and request its deletion at any time by sending an email to <a href="mailto:admin@foundryvtt.com?subject=Personal Data Deletion Request">admin@foundryvtt.com</a> from the email address associated with your foundryvtt.com account.</p>